* {
  padding: 0;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hero {
  height: 100vh;
  width: 100%;
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 4%;
  padding-left: 8%;
  padding-right: 8%;
}

.logo {
  color: white;
  font-size: 2em;
  letter-spacing: 1px;
  cursor: pointer;
}

.logo a {
  text-decoration: none;
  color: white;
}

.logo:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: .4s;
  transition: .4s;
}

span {
  color: #CC9900;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px  25px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

nav ul li a:hover {
  color: #CC9900;
  -webkit-transition: .4s;
  transition: .4s;
}

.btn {
  background-color: #CC9900;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.content {
  position: absolute;
  top: 55%;
  left: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.content p {
  font-style: italic;
  color: white;
  margin-top: 5%;
}

.content hr {
  border-color: #CC9900;
}

h1 {
  color: white;
  margin: 20px 0px 20px;
  font-size: 75px;
}

h3 {
  color: #CC9900;
  font-size: 25px;
  margin-bottom: 10%;
  margin-top: 8%;
}

h4 {
  color: #CC9900;
  letter-spacing: 2px;
  font-size: 20px;
}

.newslatter form {
  width: 380px;
  max-width: 100%;
  position: relative;
}

.newslatter form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid #CC9900;
  outline: none;
  border-radius: 30px;
}

.newslatter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #CC9900;
  color: white;
  -webkit-box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
          box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  top: 6px;
  right: 6px;
}

.about {
  width: 100%;
  height: auto;
  padding: 3% 0px;
  background-color: #191919;
}

.about img {
  height: 90vh;
  width: 40%;
  border-radius: 10%;
  -webkit-filter: drop-shadow(8px 8px 10px black);
          filter: drop-shadow(8px 8px 10px black);
}

.about-text {
  width: 50%;
}

.main {
  width: 80%;
  max-width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.about-text h2 {
  color: white;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text h5 {
  color: white;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.about-text p {
  color: white;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}

button {
  background-color: #CC9900;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 40px;
  border-radius: 30px;
  -webkit-transition: .4s;
  transition: .4s;
}

button:hover {
  background-color: transparent;
  border: 2px solid #CC9900;
  cursor: pointer;
}

.service {
  background: #101010;
  width: 100%;
  padding: 2% 0px;
  height: auto;
}

.title h2 {
  color: white;
  font-size: 75px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 400px;
}

.card {
  height: auto;
  width: 335px;
  padding: 20px 35px;
  background: #191919;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #CC9900;
}

h5 {
  color: white;
  font-size: 23px;
  margin-bottom: 15px;
}

.pra p {
  color: white;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}

.card .button {
  background-color: #CC9900;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  -webkit-transition: .4s;
  transition: .4s;
}

.card .button:hover {
  background-color: transparent;
  border: 2px solid #CC9900;
  cursor: pointer;
}

.contact-me {
  width: 100%;
  height: auto;
  background: #101010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contact-me p {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-me p a {
  text-decoration: none;
  color: white;
}

.contact-me p a i {
  color: #CC9900;
}

.contact-me h3 {
  margin: 1% 0;
}

.contact-me .button-two {
  background-color: #CC9900;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  -webkit-transition: .4s;
  transition: .4s;
}

.contact-me .button-two:hover {
  background-color: transparent;
  border: 2px solid #CC9900;
  cursor: pointer;
}

form {
  background-color: #101010;
  color: white;
}

.form {
  height: auto;
  width: 100%;
  background-color: #101010;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2% 0;
}

.form input {
  width: 600px;
  height: 50px;
  border-radius: 50px;
  margin: 2% 0;
  padding-left: 10px;
  font-size: 17px;
}

.form textarea {
  width: 600px;
  height: 120px;
  border-radius: 10px;
  margin: 2% 0;
  color: black;
  font-size: 17px;
  padding: 10px;
}

footer {
  width: 100%;
  height: auto;
  background: #191919;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer h5 {
  padding-top: 20px;
}

footer p {
  color: white;
  font-size: 17px;
  width: 40%;
  text-align: center;
  line-height: 26px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #101010;
}

.social a {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #CC9900;
  border-radius: 50%;
  margin: 22px 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.social a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: .3s;
  transition: .3s;
}

.end {
  color: #CC9900;
  font-size: 14px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: #191919;
}

.project-card {
  width: 300px;
  height: 350px;
  -webkit-box-shadow: 5px 5px 20px black;
          box-shadow: 5px 5px 20px black;
  margin: 10px;
}

.project-card hr {
  border-color: #CC9900;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project-image {
  margin-top: 25px;
  width: 250px;
}

.project-link {
  text-decoration: none;
  color: #CC9900;
  font-weight: bold;
}

.subtext {
  font-size: 16px;
  font-weight: 300;
  color: white;
  margin: 9% 2% 5% 2%;
}

.subtext-link {
  font-size: 16px;
  font-weight: 300;
  color: white;
  margin-top: 9%;
  margin-bottom: 5%;
}

.subtext-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: .4s;
  transition: .4s;
}

.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #191919;
}

.social-footer a {
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #CC9900;
  border-radius: 50%;
  margin: 22px 20px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.social-footer a:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transition: .3s;
  transition: .3s;
}
/*# sourceMappingURL=style.css.map */